Options -Indexes
RewriteEngine On
RewriteBase /hospital_sampaka23/public/

#  Personalizar error 403 para que vaya a tu router
ErrorDocument 403 /hospital_sampaka23/public/index.php

#  Si alguien intenta acceder directamente a un archivo PHP en /views/ → redirigir al router
RewriteRule ^views/.*$ index.php [QSA,L]

#  Si el archivo solicitado NO existe → enviar al router (que cargará 404.php)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
